.containerHandmade{
  width: (100vw-17px);
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://res.cloudinary.com/irontest/image/upload/v1533568191/Hubster/bg2.jpg);
  background-size: cover;
}

img{
  width: 25vw;
  background-color:white;
  border-radius: 50%;
  margin-top: 3vh;
}

h1{
  color:white;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 4vh;
}

button{
  padding: 3vh 3vw;
  border: none;
  margin-right: 3vw;
  cursor: pointer;
  background-color: #F7882F;
  color: white;
  font-family:'Poppins', serif;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: bold;
  animation: slideIn 0.3s;
}

button:hover{
  background-color: #da6608;
}

@keyframes slideIn{
  0%{
    transform: translateY(30px);
    opacity: 0
  }
  20%{
    transform: translateY(25px);
    opacity: 0.2;
  
  }
  40%{
    transform: translateY(20px);
    opacity: 0.2
  }
  60%{
    transform: translateY(15px);
    opacity: 0.4
  }
  80%{
    transform: translateY(10px);
    opacity:0.4
  }
  100%{
    transform: translateY(0);
    opacity: 1
  }
}