<section>

  <div class="container text-center">    
    <div class="row">

      <!--Columna derecha-->
      <div class="col-sm-5 well">
        <div class="well">
          <h3>{{hub.title}}</h3>
          <p>by {{hub.owner.username}}</p>
        </div>
        <div class="well">
          <p>Category</p>
          <p>
            <span class="label label-primary">{{hub.category}}</span>
          </p>
        </div>  
      </div>

      <!--Columna izq-->
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default text-left">
              <div class="panel-body">
                <h3 class="text-center">{{hub.description}}</h3>
                <p>Location: {{hub.location}}</p>
                <p>
                  <span class="label label-primary">Participants: {{hub.numberParticipants}}</span>
                  <span class="label label-primary">{{hub.date}}</span>  
                </p>
                <button class="btn button-success" *ngIf="user && isNotParticipant && hubIsFull === false" (click)="joinHub()">Join</button>
                <span class="label label-success" *ngIf="user && isNotParticipant===false">You're already in this hub</span>
                <span class="label label-danger" *ngIf="hubIsFull">This hub is full</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="user && isNotParticipant===false">
          <div class="col-sm-12">
            <div class="panel panel-default text-left">
              <div class="panel-body">
                <textarea cols="50" rows="5" [(ngModel)]="comment.content"></textarea>
                <br>
                <button class="btn button-success" (click)="makeComment(comment)">Post Comment</button>
              </div>
            </div>
          </div>
        </div>
  

        <!--Comentarios-->
        <div class="row" *ngFor="let comment of comments">
          <div class="col-sm-3">
            <div class="well">
              <p>{{comment.owner.username}}</p>
              <img src="{{comment.owner.photoURL}}" class="img-circle" height="55" width="55" alt="Avatar">
            </div>
          </div>
          <div class="col-sm-9">
            <div class="well">
              <p>{{comment.content}}</p>
            </div>
          </div>
        </div>  
      </div>

    </div>
  </div>
</section>

