<nav>
  <a [routerLink]="['']"><img src="https://res.cloudinary.com/irontest/image/upload/v1533566943/Hubster/964871c0-41a6-4870-b9f2-e2c34cdfcace.png" alt="spotify logo"></a> 
  <ul *ngIf="!user">
    <li>
      <a [routerLink]="['login']">Log In</a> 
    </li>
    <li>
      <a [routerLink]="['signup']">Sign Up</a> 
    </li>
  </ul>
  <ul *ngIf="user">
    <li>
      <a [routerLink]="['newHub']">New Hub</a> 
    </li>
    <li>
      <a [routerLink]="['myProfile']">My Profile</a> 
    </li>
    <li (click)="logout()">
      Log Out 
    </li>
  </ul>
</nav>