
<section>
  <div class="container text-center">    
    <div class="col-sm-3 well" *ngFor="let user of users">
      <a [routerLink]="[user._id]">
        <div class="well">
          <p>{{user.username}}</p>
          <img src="{{user.photoURL}}" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="well">
          <p>Interests</p>
          <p>
            <span *ngFor="let hobby of user.hobbies" class="label label-primary">{{hobby}}</span>
          </p>
        </div>
      </a>
    </div>
  </div>
</section>

