<section>
  <div class="container text-center">    
    <div class="col-sm-3 well" *ngFor="let hub of hubs">
      <a [routerLink]="[hub._id]">
        <div class="well">
          <h3>{{hub.title}}</h3>
          <p>{{hub.owner}}</p>
        </div>
        <div class="well">
          <p><span class="label label-primary">{{hub.category}}</span></p>
          <p>{{hub.numberParticipants}}</p>
          <p class="btn btn-success">{{hub.date}}</p>
        </div>
      </a>
    </div>
  </div>
</section>
