.container{
  padding: 18vh 5vw 0;
  width: 100vw; 
  min-height: 100vh;
  background-image: url(https://res.cloudinary.com/irontest/image/upload/v1533568191/Hubster/bg2.jpg);
  background-size:cover;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.col-sm-3{
  margin-right:50px;
  box-sizing: border-box;
}
