<section>

  <div class="form">
    <div>
      <p>Username:</p>
      <input type="text" [(ngModel)]="signupForm.username" placeholder="username">
      <br>
      <p>Email:</p>
      <input type="email" placeholder="Tu correo" [(ngModel)]="signupForm.email">
      <br>
      
      <p>Password:</p>
      <input type="password" placeholder="Tu password" [(ngModel)]="signupForm.password">
      <br>
  
      <input type="password" placeholder="Tu password otra vez" [(ngModel)]="signupForm.password2">
      <div *ngIf="signupForm.password != signupForm.password2">
        <div>
          Passwords don't match
        </div>
      </div>
      <br>
      <p>Hobbies:</p>
      <input type="text" placeholder="Tus hobbies (separados por commas)" [(ngModel)]="signupForm.hobbies">
      <br>
  
      <input type="submit" id="btn" (click)="getForm(signupForm)">
    </div>
      
  </div>
  
</section>