<section>

  <form #signupForm="ngForm" (ngSubmit)="getForm(signupForm)">
    <input name="username" type="text" [(ngModel)]="username" placeholder="username">
    <br>
    <input name="email" type="email" placeholder="Tu correo" [(ngModel)]="email">
    <br>
    
    <input #myPassword="ngModel" required name="password" type="password" placeholder="Tu password" [(ngModel)]="password">
    <br>

    <input #myPass2="ngModel" required name="password2" type="password" placeholder="Tu password otra vez" [(ngModel)]="password2">
    <div *ngIf="myPassword.value != myPass2.value">
      <div>
        Passwords don't match
      </div>
    </div>
    <br>
    <input #myHobbies="ngModel" name="hobbies" type="text" placeholder="Tus hobbies o intereses" [(ngModel)]="hobbies">
    <br>

    <input type="submit">
  </form>

</section>