<section>
    <div>
      <input type="text" placeholder="Title" [(ngModel)]="newHub.title">
      <br>
      <input type="number" placeholder="Number of people" [(ngModel)]="newHub.numberParticipants">
      <br>
      <input type="text" placeholder="Category" [(ngModel)]="newHub.category">
      <br>
      <input type="text" placeholder="Location" [(ngModel)]="newHub.location">
      <br>
      <input type="date" placeholder="Leave empty if it's for today" [(ngModel)]="newHub.date">
      <br>
      <textarea placeholder="Description" cols="30" rows="10" [(ngModel)]="newHub.description"></textarea>
      <br>
      <input type="submit" (click)="makeHub(newHub)">
    </div>
  </section>